#google_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;   
    padding-top: 109px;
}

#about {
    display:flex;
    font-size: 13px;
    font-family: arial,sans-serif;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 7px;
    margin-left: 10px;
    color: #222;
}